

* {box-sizing: border-box;
}

body{
  background-color: #1b85d9;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-align: center;
  marguin: 0;
  
}


form{
  background-color: #204770;
  border-radius: 8px;
  padding: 30px 25px;
  max-width: 550px;
  margin: 40px auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  
}

.form-control{
  margin-top:15px;
  margin-bottom: 20px; 
  text-align: left;
  
}

.form-group{
  display: block; 
  height: 2.875rem;
  margin-bottom: 15px; 
  text-align: left;
}

h3{
  margin: 50px;
}

h1{
margin-bottom: 0;
}

h1 + p {
  margin-top: 0;
}
.form-control label{
  display: block;
  margin-bottom: 6px;
}

.form-control input,
.form-control select,
.form-control textarea{
  border: 1px solid #1b85d9;
  border-radiux: 8px;
  font-family: inherit;
  font-size: 18px;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 0.25rem;
}

.form-control select,{
  height:80px;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"]
{
  display: inline-block;
  width: auto;
}

button{
 background-color: #1b85d9;
 border: 1px solid #1b85d9;
 font-family: inherit;
 font-size: 18px;
 color: #fff;
 border-radius: 0.25rem;
 display: block;
 padding: 10px;
 width: 100%;
}